$mainColor: #816D5E;

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.banner__logo-start {
  height: 100%;
  position: relative;
  margin: 0 10px;
  opacity: 0;
}

.banner__logo-start img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.logo-show {
  animation: show 3s ease 1s, hide 2s ease 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.content__wrapper {
  display: flex;
  gap: 50px;
  justify-content: center;
}

button {
  cursor: pointer;
  overflow: hidden;
}

.banner {
  font-family: 'Rubik', sans-serif;
  color: $mainColor;
  border: 0.75px solid #2d2d2d;
  overflow: hidden;
  position: relative;
}

.banner-wrap {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

.banner__content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}

.banner__logo {
  width: 25%;
  margin: 20px auto;
}

.banner__popup-button-wrap {
  position: relative;
  height: 1px;
}

.banner__button-popup {
  position: absolute;
  right: 0;
  width: 25px;
  height: 25px;
  border: none;
  background: url("icons/info-circle.svg"), no-repeat, center, center;
  z-index: 10;
}

.banner__popup-info {
  position: absolute;
  top: 0;
  font-size: 10px;
  color: #000000;
  border-bottom: 0.75px solid black;
  padding: 15px 20px 15px 5px;
  font-weight: 300;
  z-index: 5;
  background-color: white;
  display: none;
}

.banner__button-popup:hover + .banner__popup-info,
.banner__button-popup:focus + .banner__popup-info {
  display: block;
}

.banner__button-navigation {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;

  button {
    border: none;
    background: darkgrey;
    position: relative;
  }
  button:hover {
    background: #646464;
  }

  .button-next {
    clip-path: polygon(37% 0, 100% 0, 100% 100%, 51% 100%, 0% 100%);
  }
  .button-prev {
    clip-path: polygon(0% 0%, 63% 0, 100% 100%, 51% 100%, 0% 100%);
  }
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  justify-content: space-between;

  img {
    object-fit: scale-down;
    max-width: 100%;
  }

  .card__info-product {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .card__info-footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-weight: bold;
  }

  .card__basket {
    background-color: $mainColor;
    border: none;
    color: white;
    text-transform: uppercase;
  }

  .card__basket:hover {
    background-color: #af9e93;
  }

  .price span:first-child {
    margin-right: 5px;
  }
}

