@media (max-width: 120px) and (max-height: 600px) {
  .banner {
    height: 590px;
    margin: 3px;
  }

  .banner-wrap {
    height: 100%;
  }

  .banner__content {
    flex-direction: column;
    padding: 5px;
  }

  .banner__logo {
    width: 75%;
    margin: 35px auto;
  }

  .banner__button-popup {
    width: 20px;
    height: 18px;
  }

  .banner__button-popup svg {
    width: 10px;
    height: 10px;
  }

  .card {
    gap: 15px;
  }

  .card__title {
    display: none;
  }

  .card .price span:first-child {
    margin-right: 3px;
  }

  .card__price {
    font-size: 10px;
  }

  .card__basket {
    padding: 3px 6px;
    font-weight: 500;
    font-size: 9px;
  }
}
