$mainColor: #816D5E;
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.content__wrapper {
  display: flex;
  gap: 50px;
  justify-content: center;
}

button {
  cursor: pointer;
  overflow: hidden;
}

.banner {
  font-family: 'Rubik', sans-serif;
  color: $mainColor;
  border: 0.75px solid #2d2d2d;
  overflow: hidden;
}

.banner-wrap {
  width: 100%;
}

.banner__content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.banner-wrap {
  height: 100%;
}

.banner__logo {
  width: 25%;
  margin: 20px auto;
}

.banner__popup-button-wrap {
  position: relative;
  height: 1px;
}

.banner__button-popup {
  position: absolute;
  right: 0;
  width: 25px;
  height: 25px;
  border: none;
  background: url("icons/info-circle.svg"), no-repeat, center, center;
  z-index: 10;
}

.banner__popup-info {
  position: absolute;
  top: 0;
  font-size: 10px;
  color: #000000;
  border-bottom: 0.75px solid black;
  padding: 15px 20px 15px 5px;
  font-weight: 300;
  z-index: 5;
  background-color: white;
  display: none;
}

.banner__button-popup:hover + .banner__popup-info,
.banner__button-popup:focus + .banner__popup-info {
  display: block;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  justify-content: space-between;

  img {
    object-fit: scale-down;
    max-width: 100%;
  }

  .card__info-product {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 30px;
  }

  .card__info-footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-weight: bold;
  }

  .card__basket {
    background-color: $mainColor;
    border: none;
    color: white;
    text-transform: uppercase;
  }

  .card__basket:hover {
    background-color: #af9e93;
  }

  .price span:first-child {
    margin-right: 5px;
  }
}

