@media (min-width: 235px) and (max-width: 255px) and (max-height: 400px) {
  .card {
    min-width: 215px;
    height: 300px;
  }

  .card__basket {
    font-weight: bold;
    padding: 5px 15px;

    span {
      letter-spacing: 1px;
    }
  }

  .card__info-product {
    gap: 15px;
    padding: 0 5px;
  }

  .card__text {
    font-size: 12px;
  }

  .banner__content {
    padding: 7px;
  }

  .banner {
    height: 388px;
    margin: 5px;
  }

  .banner__logo {
    width: 75%;
    margin: 20px auto;
  }

  .banner__button-navigation {
    bottom: 85px;
    button {
      width: 35px;
      height: 25px;}
  }

  .button-prev:after {
    content: "";
    position: absolute;
    border: 8px solid transparent;
    border-right: 6px solid white;
    top: 5px;
    left: 0;
  }

  .button-next:after {
    content: "";
    position: absolute;
    border: 8px solid transparent;
    border-left: 6px solid white;
    right: 0;
    top: 5px;
  }
}
